* {
  box-sizing: border-box;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
}

.calculator {
  background-color: #231E1E;
  max-width: 400px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  flex: 1;

}

.screen {
  background: #fff;
  width: 100%;
  padding: 5px;
  text-align: end;
  border-radius: 5px;
  margin-bottom: 10px;
}

.screen-operand {
  font-size: 1.5rem;
  overflow: auto;
}

.screen-operation {
  display: inline-block;
  margin-left: 0.2rem;
}

.button {
  max-width: 85px;
  height: 54px;
  background: #f2d76c;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  width: -moz-available;
  width: -webkit-fill-available;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 1;
  transition: all 0.2s;
  box-shadow: 2px 3px 2px 0px #ffa906;
  user-select: none;
}

.button:hover {
  box-shadow: 2px 3px 2px 0px #f8ecd4;
}

.button:active {
  box-shadow: 2px 3px 2px 0px #413d36;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 10px;
}

.buttons-screen {
  display: flex;
  justify-content: space-between;
}

.buttons-screen .button {
  background-color: #e83939;
}

.buttons-container {
  display: flex;
  width: 75%;
  row-gap: 10px;
  flex-direction: column;
}

.buttons-numbers {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  max-width: 100%;
  flex-wrap: wrap;
}

.buttons-operations {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: end;
}

.buttons-operations .button {
  background-color: rgb(127, 255, 159);
}